[project]
name = "diffie-helman-vuln"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "cryptography>=46.0.3",
    "sympy>=1.14.0",
]
